/*Main fonts*/
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__btn-add-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0%;
}

.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-agree .create__description-agree, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .card-active__block-add-new-card .card-active__block-add-inside .card-active__description-for-new-card, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-date .card-active__block-inside-date .card-active__description-date, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-date .card-active__block-inside-date .card-active__description-valid {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0%;
}

.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card .create__description-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
}

.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card .create__header-modal, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__header-block {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: 700;
  letter-spacing: 0%;
}

/*Background*/
/**Btn**/
/*Main fonts*/
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 25px;
  padding: 10px 20px;
  height: 56px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background: #fff;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field::-moz-placeholder, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second::-moz-placeholder, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field::-moz-placeholder, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field::-moz-placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field::placeholder, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second::placeholder, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field::placeholder, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field::placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}

.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__label-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__label-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__label-field {
  display: inline-block;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 10px !important;
}

.card-active {
  margin-bottom: 300px;
}
.card-active .card-active__block-main .choice__dashboard-block {
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.25);
  /* Neutrals */
  background: rgb(255, 255, 255);
  height: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-account {
  height: 100%;
  width: 30.33%;
  transform: translateY(-3px);
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-account .choice__block-dashboard-description-account {
  justify-content: flex-start;
  padding: 14px 0px;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-account .choice__block-dashboard-description-account .choice__name-opt {
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 14px; */
  border-right: 1px solid rgb(228, 228, 228);
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-account-active {
  border-bottom: 4px solid rgb(141, 211, 187);
  height: 100%;
  width: 30.33%;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-account-active .choice__block-dashboard-description-account {
  justify-content: flex-start;
  padding: 14px 0px;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-account-active .choice__block-dashboard-description-account .choice__name-opt {
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 14px; */
  border-right: 1px solid rgb(228, 228, 228);
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-history {
  display: flex;
  justify-content: center;
  width: 30.33%;
  height: 100%;
  width: 30.33%;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-history .choice__block-dashboard-description-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30.33%;
  padding: 0px 20px;
  padding: 14px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-history .choice__block-dashboard-description-history .choice__name-opt {
  text-align: start;
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
  height: 100%;
  text-align: center;
  border-right: 1px solid rgb(228, 228, 228);
  border-left: 1px solid rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-history-active {
  display: flex;
  justify-content: center;
  width: 30.33%;
  /* Mint Green */
  border-bottom: 4px solid rgb(141, 211, 187);
  height: 100%;
  width: 30.33%;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-history-active .choice__block-dashboard-description-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30.33%;
  padding: 0px 20px;
  padding: 14px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-history-active .choice__block-dashboard-description-history .choice__name-opt {
  text-align: start;
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
  height: 100%;
  text-align: center;
  border-right: 1px solid rgb(228, 228, 228);
  border-left: 1px solid rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-pay-method-active {
  display: flex;
  justify-content: center;
  width: 30.33%;
  /* Mint Green */
  border-bottom: 4px solid rgb(141, 211, 187);
  height: 100%;
  width: 30.33%;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-pay-method-active .choice__block-dashboard-description-pay-method {
  display: flex;
  text-align: end;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 30.33%;
  padding: 0px 20px;
  padding: 14px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-pay-method-active .choice__block-dashboard-description-pay-method .choice__name-opt {
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
  height: 100%;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-pay-method {
  display: flex;
  justify-content: center;
  width: 30.33%;
  height: 100%;
  width: 30.33%;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-pay-method .choice__block-dashboard-description-pay-method {
  display: flex;
  text-align: end;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 30.33%;
  padding: 0px 20px;
  padding: 14px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-active .card-active__block-main .choice__dashboard-block .choice__block-dashboard-inside-pay-method .choice__block-dashboard-description-pay-method .choice__name-opt {
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
  height: 100%;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__header-block {
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 25px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.25);
  background: #fff;
  padding: 35px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card {
  border-radius: 16px;
  width: 35%;
  background: rgb(141, 211, 187);
  /* width: 400px; */
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  margin-right: 50px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-num .card-active__block-insides .card-active__description-main-num {
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-num .card-active__block-insides .card-active__sum-num {
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: left;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-num .card-active__image-delete-card {
  width: 35px;
  height: 35px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-date .card-active__block-inside-date .card-active__description-valid {
  color: rgb(17, 34, 17);
  font-size: 18px;
  line-height: 15px;
  text-align: left;
  margin-bottom: 10px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .card-active__block-active-card .card-active__block-info-date .card-active__block-inside-date .card-active__description-date {
  color: rgb(17, 34, 17);
  font-size: 23px;
  line-height: 15px;
  text-align: left;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc {
  width: 35%;
  height: 300px;
  border: 2px dashed rgb(141, 211, 187);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .card-active__block-add-new-card .card-active__block-add-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .card-active__block-add-new-card .card-active__block-add-inside .card-active__image-adds {
  margin-bottom: 15px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .card-active__block-add-new-card .card-active__block-add-inside .card-active__description-for-new-card {
  color: rgb(17, 34, 17);
  font-size: 20px;
  line-height: 15px;
  text-align: left;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main {
  border-radius: 12px;
  position: fixed;
  top: 30%;
  box-shadow: 4px 4px 8px 10000px rgba(0, 0, 0, 0.65);
  background: #fff;
  z-index: 100;
  left: 25%;
  width: 800px;
  padding: 75px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-image {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card .create__header-modal {
  color: rgb(0, 0, 0);
  font-size: 42px;
  line-height: 51px;
  text-align: left;
  margin-bottom: 56px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field {
  position: relative;
  margin-bottom: 30px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field {
  width: 100%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field:focus + .create__label-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field:valid + .create__label-field {
  top: -10px;
  background-color: #fff;
  font-size: 18px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field:valid + .create__label-field {
  color: orange;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__image-open-country-list-item {
  position: absolute;
  top: 16px;
  width: 30px;
  height: 30px;
  right: 10px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date {
  position: relative;
  width: 44%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field {
  width: 100%;
  margin-right: 10px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second {
  width: 100%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__input-field:focus + .create__label-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__input-field:valid + .create__label-field {
  top: -10px;
  background-color: #fff;
  font-size: 18px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__input-field:valid + .create__label-field {
  color: orange;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc {
  position: relative;
  width: 48%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field {
  width: 100%;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field:focus + .create__label-field, .card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field:valid + .create__label-field {
  top: -10px;
  background-color: #fff;
  font-size: 18px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field:valid + .create__label-field {
  color: orange;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-agree .create__input-agree {
  margin-right: 15px;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__block-agree .create__description-agree {
  /* Montserrat/Medium/14px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 17px;
  text-align: left;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card form .create__btn-add-card {
  margin-bottom: 20px;
  border-radius: 4px;
  background: rgb(141, 211, 187);
  height: 56px;
  padding: 15px 25px;
  width: 100%;
  /* Montserrat/Semibold/14px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 17px;
  text-align: center;
}
.card-active .card-active__block-main .card-active__block-info-credit-card .card-active__block-interactive-cards .cgc .create .create__block-main .create__block-form-add-credit-card .create__description-footer {
  /* Montserrat/Regular/12px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  opacity: 0.6;
}/*# sourceMappingURL=card.css.map */