/*Main fonts*/
.create .create__block-main .create__block-form-add-credit-card form .create__btn-add-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0%;
}

.error, .create .create__block-main .create__block-form-add-credit-card form .create__block-agree .create__description-agree {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0%;
}

.create .create__block-main .create__block-form-add-credit-card .create__description-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
}

.create .create__block-main .create__block-form-add-credit-card .create__header-modal {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: 700;
  letter-spacing: 0%;
}

/*Background*/
/**Btn**/
/*Main fonts*/
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 25px;
  padding: 10px 20px;
  height: 56px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background: #fff;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field::-moz-placeholder, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second::-moz-placeholder, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field::-moz-placeholder, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field::-moz-placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field::placeholder, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second::placeholder, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field::placeholder, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field::placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}

.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__label-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__label-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__label-field {
  display: inline-block;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 10px !important;
}

.create .create__block-main {
  border-radius: 12px;
  position: fixed;
  top: 30%;
  box-shadow: 4px 4px 8px 10000px rgba(0, 0, 0, 0.65);
  background: #fff;
  z-index: 100;
  left: 25%;
  width: 800px;
  padding: 75px;
}
.create .create__block-main .create__block-image {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.create .create__block-main .create__block-form-add-credit-card .create__header-modal {
  color: rgb(0, 0, 0);
  font-size: 42px;
  line-height: 51px;
  text-align: left;
  margin-bottom: 56px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field {
  position: relative;
  margin-bottom: 30px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field {
  width: 100%;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field:focus + .create__label-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field:valid + .create__label-field {
  top: -10px;
  background-color: #fff;
  font-size: 18px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__input-field:valid + .create__label-field {
  color: orange;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-form-field .create__image-open-country-list-item {
  position: absolute;
  top: 16px;
  width: 30px;
  height: 30px;
  right: 10px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date {
  position: relative;
  width: 44%;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field {
  width: 100%;
  margin-right: 10px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__block-uu-fields .create__input-field-second {
  width: 100%;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__input-field:focus + .create__label-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__input-field:valid + .create__label-field {
  top: -10px;
  background-color: #fff;
  font-size: 18px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-date .create__input-field:valid + .create__label-field {
  color: orange;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc {
  position: relative;
  width: 48%;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field {
  width: 100%;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field:focus + .create__label-field, .create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field:valid + .create__label-field {
  top: -10px;
  background-color: #fff;
  font-size: 18px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-main-fileds-card .create__block-two-field .create__block-field-cvc .create__input-field:valid + .create__label-field {
  color: orange;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-agree .create__input-agree {
  margin-right: 15px;
  accent-color: rgb(141, 211, 187);
}
.create .create__block-main .create__block-form-add-credit-card form .create__block-agree .create__description-agree {
  /* Montserrat/Medium/14px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 17px;
  text-align: left;
}
.create .create__block-main .create__block-form-add-credit-card form .create__btn-add-card {
  margin-bottom: 20px;
  border-radius: 4px;
  background: rgb(141, 211, 187);
  height: 56px;
  padding: 15px 25px;
  width: 100%;
  /* Montserrat/Semibold/14px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 17px;
  text-align: center;
}
.create .create__block-main .create__block-form-add-credit-card .create__description-footer {
  /* Montserrat/Regular/12px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  opacity: 0.6;
}

form .payment__input-form-fill:invalid {
  border-color: rgb(255, 134, 130) !important;
}

.error {
  color: rgb(17, 34, 17);
  font-size: 16px;
  margin-top: 15px;
  font-weight: 700;
  color: rgb(255, 134, 130);
  line-height: 16px;
  letter-spacing: 0em;
}/*# sourceMappingURL=create.css.map */