#modal {
  .comment__block-main-need-sign-in {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 8px 10000px rgba(0, 0, 0, 0.6);
    background: #fff;
    z-index: 100;
    border-radius: 5px;
    width: 800px;
    .comment__block-main-need-sign-in-inside {
      position: relative;
      padding: 35px 25px;
      .comment__btn-image-close {
        position: absolute;
        right: 12px;
        top: 12px;
        .comment__icon-close-modal {
        }
      }
      .comment__header-need-sign {
        margin-bottom: 25px;
        color: rgb(17, 34, 17);
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 36px;
      }
      .comment__block-need-sign-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .comment__block-description-content {
          margin-right: 50px;
          .comment__description-options-for-user {
            color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
            margin-bottom: 5px;
          }
          .comment__mid-description {
            color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
            margin-bottom: 40px;
          }
          .comment__btn-log-in-user {
            color: #fff;
            background-color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            border-radius: 4px;
            line-height: 17px;
            letter-spacing: 0%;
            border: 1px solid rgb(17, 34, 17);
            padding: 15px 25px;
            margin-right: 20px;
          }
          span {
            margin: 0px 15px;
            color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
          }
          .comment__btn-sign-in-for-user {
            color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            border-radius: 4px;
            line-height: 17px;
            letter-spacing: 0%;
            border: 1px solid rgb(17, 34, 17);
            padding: 15px 25px;
            margin-right: 20px;
          }
        }
        .comment__block-image-need-sign-in {
          .comment__image-need-sign-in {
          }
        }
      }
    }
  }
  .comment__block-modal-add-review {
    position: fixed;
    right: 30%;
    top: 20%;
    box-shadow: 4px 4px 8px 10000px rgba(0, 0, 0, 0.6);
    padding: 35px 25px;
    background: #fff;
    z-index: 100;
    border-radius: 5px;
    width: 800px;
    .comment__btn-close-modal {
      position: absolute;
      right: 12px;
      top: 12px;
      .comment__close-modal-icon {
      }
    }
    .comment__block-headers {
      margin-bottom: 25px;
      .comment__header-block {
        color: rgb(17, 34, 17);
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0%;
        margin-bottom: 10px;
      }
      .comment__description-step-count {
        color: rgb(17, 34, 17);
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0%;
      }
    }
    .comment__block-form-modal {
      form {
        .comment__block-main-first-page-info {
          margin-bottom: 35px;
          .comment__block-rate-hotel {
            margin-bottom: 20px;
            .comment__btn-rate-change {
              .comment__modal-rate-star {
              }
            }
          }
          .comment__label-header-txt {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            .comment__label-txt {
              @extend %label_form;
            }
            .comment__input-fill {
              @extend %input_form;
              height: 46px;
            }
          }
          .comment__block-description-txt {
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;
            .comment__label-txt {
              @extend %label_form;
            }
            .comment__input-fill {
              @extend %input_form;
              height: 150px;
              resize: none;
            }
          }
          .comment__block-userName-txt {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            .comment__label-txt {
              @extend %label_form;
            }
            .comment__input-fill {
              @extend %input_form;
              height: 46px;
            }
          }
        }
        .comment__second-page-block-upload-image {
          .comment__get-photo {
          }
        }
        .comment__block-btn-options-uu {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end;
          .comment__btn-more-option {
            color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            border-radius: 4px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
            border: 1px solid rgb(17, 34, 17);
            padding: 11px 25px;
            height: 49px;
          }
          .comment__btn-more-options-inside {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            border-radius: 4px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
            border: 1px solid rgb(17, 34, 17);
            padding: 11px 25px;
            height: 49px;
            .comment__image-arrow-left {
              margin-right: 10px;
            }
            .comment__description-name-back {
              color: rgb(17, 34, 17);
              font-family: "Montserrat", sans-serif;
              font-size: 16px;
              font-weight: 500;
              line-height: 17px;
              letter-spacing: 0%;
            }
          }
          .comment__btn-submit-modal {
            color: #fff;
            background-color: rgb(17, 34, 17);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            border-radius: 4px;
            line-height: 17px;
            letter-spacing: 0%;
            border: 1px solid rgb(17, 34, 17);
            padding: 15px 25px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
