/*Main fonts*/
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__instructions-create-account, .main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__btn-submit {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0%;
}

.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__instructions-create-account .login__btn-sign, .main_cl-login .container .pass .pass__block-main .pass__block-content .payment__block-go-back .payment__description-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0%;
}

.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-login-with .login__login-with, .main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__description-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
}

.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__name-header {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: 700;
  letter-spacing: 0%;
}

/*Background*/
/**Btn**/
/*Main fonts*/
.main_cl-login {
  height: 100%;
}
.main_cl-login .container {
  height: 100%;
}
.main_cl-login .container .pass {
  height: 100%;
  display: flex;
  align-items: center;
}
.main_cl-login .container .pass .pass__block-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main_cl-login .container .pass .pass__block-main .pass__image-slider {
  width: 40%;
  border-radius: 35px;
}
.main_cl-login .container .pass .pass__block-main .pass__image-slider .swiper-pagination-bullet-active {
  border-radius: 5px;
  background: rgb(141, 211, 187) !important;
  opacity: 1;
  width: 32px;
}
.main_cl-login .container .pass .pass__block-main .pass__image-slider .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.main_cl-login .container .pass .pass__block-main .pass__image-slider .pass__image-swipe {
  width: 100%;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content {
  width: 50%;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__image-logo {
  margin-bottom: 70px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .payment__block-go-back {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
  align-items: center;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .payment__block-go-back .payment__description-name {
  /* Montserrat/Medium/14px */
  color: rgb(17, 34, 17);
  font-size: 16px;
  line-height: 17px;
  text-align: left;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .payment__block-go-back .payment__icon-back {
  margin-right: 10px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__name-header {
  /* TradeGothic/Bold/40px */
  color: rgb(0, 0, 0);
  font-size: 44px;
  line-height: 51px;
  text-align: left;
  margin-bottom: 20px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__description-name {
  margin-bottom: 55px;
  /* Montserrat/Regular/16px */
  color: rgb(17, 34, 17);
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 55px;
  opacity: 0.7;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info form .pass__block-form-field {
  width: 100%;
  position: relative;
  margin-bottom: 55px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info form .pass__block-form-field .pass__input-value {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 25px;
  padding: 10px 20px;
  height: 60px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background: #fff;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info form .pass__block-form-field .pass__input-value::-moz-placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info form .pass__block-form-field .pass__input-value::placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info form .pass__block-form-field .pass__input-value:invalid {
  border-color: rgb(255, 134, 130) !important;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info form .pass__block-form-field .pass__label-form {
  display: inline-block;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 10px !important;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__btn-submit {
  height: 56px;
  color: rgb(17, 34, 17);
  font-size: 18px;
  line-height: 17px;
  text-align: left;
  padding: 15px 15px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background: rgb(141, 211, 187);
  margin-bottom: 60px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__instructions-create-account {
  /* [object Object] */
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 45px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__instructions-create-account .login__btn-sign {
  color: rgb(255, 134, 130);
  font-size: 16px;
  line-height: 17px;
  text-align: right;
  margin-left: 10px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-login-with {
  margin-bottom: 55px;
  position: relative;
  display: flex;
  justify-content: center;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-login-with hr {
  height: 2px;
  position: absolute;
  top: 8px;
  /* background: red; */
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.25;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-login-with .login__login-with {
  color: rgb(161, 161, 161);
  font-size: 16px;
  line-height: 17px;
  text-align: left;
  z-index: 200;
  /* display: flex; */
  position: relative;
  text-align: center;
  /* width: 70%; */
  padding: 0px 10px;
  background: #fff;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-log {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-log .login__block-facebook {
  width: 31.33%;
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgb(141, 211, 187);
  border-radius: 4px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-log .login__block-google {
  width: 31.33%;
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgb(141, 211, 187);
  border-radius: 4px;
}
.main_cl-login .container .pass .pass__block-main .pass__block-content .pass__block-header-info .login__block-options-log .login__block-apple {
  width: 31.33%;
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgb(141, 211, 187);
  border-radius: 4px;
}

.check__form-danger {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check__form-danger .check__form-image {
  margin-right: 10px;
}
.check__form-danger p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(255, 134, 130);
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 2%;
}/*# sourceMappingURL=passwordRecovery.css.map */