@import './../vars/mixins' ;
@import './../vars/colors';


.main_cl-login {
    height: 100%;
    .container {
        height: 100%;
        .pass {
            height: 100%;
            display: flex;
            align-items: center;
            .pass__block-main {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                .pass__image-slider {
                    width: 40%;
                    border-radius: 35px;
                    .swiper-pagination-bullet-active {
                        border-radius: 5px;
                        background: $color_3 !important;
                        opacity: 1;
                        width: 32px;
                    }
                    .swiper-pagination-bullet {
                        background: $primary_fff;
                        opacity: 1;
                    }
                    .pass__image-swipe {
                        width: 100%;
                    }
                }
                .pass__block-content {
                    width: 50%;
                    .pass__image-logo {
                        margin-bottom: 70px;
                    }
                    .payment__block-go-back {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        margin-bottom: 25px;
                        align-items: center;
                        .payment__description-name {
                            /* Montserrat/Medium/14px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            text-align: left;
                        }
                        .payment__icon-back {
                            margin-right: 10px;
                        }
                    }
                    .pass__block-header-info {
                        .login__name-header {
                            /* TradeGothic/Bold/40px */
                            color: $color_1;
                            @extend %l_700;
                            font-size: 44px;
                            line-height: 51px;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        .login__description-name {
                            margin-bottom: 55px;
                            /* Montserrat/Regular/16px */
                            color: $primary_black;
                            @extend %m_400;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                            margin-bottom: 55px;
                            opacity: 0.7;
                        }
                        form {
                                .pass__block-form-field {
                                    width: 100%;
                                    position: relative;
                                    margin-bottom: 55px;
                                    .pass__input-value {
                                        width: 100%;
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 18px;
                                        color: $primary_black;
                                        font-weight: 400;
                                        line-height: 25px;
                                        padding: 10px 20px;
                                        height: 60px;
                                        border: 1px solid hsl(0, 0%, 80%);
                                        border-radius: 4px;
                                        background: $primary_fff;
                                        &::placeholder {
                                            color: rgb(121, 116, 126);
                                            font-size: 18px;
                                        }
                                        &:invalid {
                                            border-color: $color2 !important;
                                        }
                                    }
                                    .pass__label-form {
                                        display: inline-block;
                                        opacity: 0.5;
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 20px;
                                        color: $primary_black;
                                        font-weight: 400;
                                        line-height: 17px;
                                        letter-spacing: 2%;
                                        text-align: left;
                                        margin-bottom: 10px !important;
                                    }
                                }
                            }
                            .login__btn-submit {
                                height: 56px;
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 18px;
                                line-height: 17px;
                                text-align: left;
                                padding: 15px 15px;
                                width: 100%;
                                text-align: center;
                                border-radius: 4px;
                                background: $color_3;
                                margin-bottom: 60px;
                            }
                            .login__instructions-create-account {
                                /* [object Object] */
                                @extend %m_600;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: center;
                                margin-bottom: 45px;
                                .login__btn-sign {
                                    color: $color2;
                                    @extend %m_500;
                                    font-size: 16px;
                                    line-height: 17px;
                                    text-align: right;
                                    margin-left: 10px;
                                }
                            }
                            .login__block-options-login-with {
                                margin-bottom: 55px;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                hr {
                                    height: 2px;
                                    position: absolute;
                                    top: 8px;
                                    /* background: red; */
                                    width: 100%;
                                    background-color: $color_1;
                                    opacity: 0.25;
                                }
                                .login__login-with {
                                    color: rgb(161 161 161);
                                    @extend %m_400;
                                    font-size: 16px;
                                    line-height: 17px;
                                    text-align: left;
                                    z-index: 200;
                                    /* display: flex; */
                                    position: relative;
                                    text-align: center;
                                    /* width: 70%; */
                                    padding: 0px 10px;
                                    background: $primary_fff;
                                }
                            }
                            .login__block-options-log {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                .login__block-facebook {
                                    width: 31.33%;
                                    display: flex;
                                    justify-content: center;
                                    padding: 15px 25px;
                                    height: 60px;
                                    box-sizing: border-box;
                                    border: 1px solid $color_3;
                                    border-radius: 4px;
    
                                }
                                .login__block-google {
                                    width: 31.33%;
                                    display: flex;
                                    justify-content: center;
                                    padding: 15px 25px;
                                    height: 60px;
                                    box-sizing: border-box;
                                    border: 1px solid $color_3;
                                    border-radius: 4px;
                                }
                                .login__block-apple {
                                    width: 31.33%;
                                    display: flex;
                                    justify-content: center;
                                    padding: 15px 25px;
                                    height: 60px;
                                    box-sizing: border-box;
                                    border: 1px solid $color_3;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .check__form-danger {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .check__form-image {
            margin-right: 10px;
        }
        p {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: $color2;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 2%;
        }
    }