@import './../vars/mixins';
@import './../vars/colors';


.main_cl-login {
    height: 100%;
    .container {
        height: 100%;
        .verify {
            height: 100%;
            display: flex;
            align-items: center;
            .verify__block-main {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                .verify__block-content {
                    width: 50%;
                    .verify__image-logo {
                        margin-bottom: 70px;
                    }
                    .payment__description-name {
                        color: $primary_black;
                        @extend %m_500;
                        font-size: 16px;
                        line-height: 17px;
                        text-align: left;
                    }
                    .payment__block-go-back {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        margin-bottom: 25px;
                        align-items: center;
                        .verify__description-name {
                            /* Montserrat/Medium/14px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            text-align: left;
                        }
                        .payment__icon-back {
                            margin-right: 10px;
                        }
                    }
                    .verify__block-header-info {
                        .login__name-header {
                            /* TradeGothic/Bold/40px */
                            color: $color_1;
                            @extend %l_700;
                            font-size: 44px;
                            line-height: 51px;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        .login__description-name {
                            margin-bottom: 55px;
                            /* Montserrat/Regular/16px */
                            color: $primary_black;
                            @extend %m_400;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                            margin-bottom: 55px;
                            opacity: 0.7;
                        }
                        form {
                            .verify__block-form-field {
                                    width: 100%;
                                    position: relative;
                                    margin-bottom: 20px;
                                .verify__input-value {
                                    width: 100%;
                                    font-family: "Montserrat", sans-serif;
                                    font-size: 18px;
                                    color: $primary_black;
                                    font-weight: 400;
                                    line-height: 25px;
                                    padding: 10px 20px;
                                    height: 60px;
                                    border: 1px solid hsl(0, 0%, 80%);
                                    border-radius: 4px;
                                    background: $primary_fff;
                                    &::placeholder {
                                        color: rgb(121, 116, 126);
                                        font-size: 18px;
                                    }
                                }
                                .verify__label-form {
                                    display: inline-block;
                                    opacity: 0.5;
                                    font-family: "Montserrat", sans-serif;
                                    font-size: 20px;
                                    color: $primary_black;
                                    font-weight: 400;
                                    line-height: 17px;
                                    letter-spacing: 2%;
                                    text-align: left;
                                    margin-bottom: 10px !important;
                                }
                            }
                            .verify__description {
                                @extend %m_600;
                                margin-bottom: 40px;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                                .verify__description-uu {
                                    margin-bottom: 40px;
                                    @extend %m_600;
                                    font-size: 16px;
                                    line-height: 17px;
                                    text-align: left;
                                    color: $color2;
                                    margin-left: 10px;
                                }
                            }
                            .verify__btn-submit {
                                height: 56px;
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 18px;
                                line-height: 17px;
                                text-align: left;
                                padding: 15px 15px;
                                width: 100%;
                                text-align: center;
                                border-radius: 4px;
                                background: $color_3;
                                margin-bottom: 60px;
                            }
                        }
                    }
                }
                .verify__image-slider {
                    width: 40%;
                    border-radius: 35px;
                    .swiper-pagination-bullet-active {
                        border-radius: 5px;
                        background: $color_3 !important;
                        opacity: 1;
                        width: 32px;
                    }
                    .swiper-pagination-bullet {
                        background: $primary_fff;
                        opacity: 1;
                    }
                    .verify__image-swipe {
                        width: 100%;
                    }
                }
            }
        }
    }
}