/*Main fonts*/
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__add-promo .search__description-adds {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0%;
}

.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo .search__btn-add-promo-code {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0%;
}

/*Background*/
/**Btn**/
/*Main fonts*/
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo .search__btn-input-promo, .hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__input-ff, .hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__input-ff, .hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__input-ff, .hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__input-ff {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 25px;
  padding: 10px 20px;
  height: 56px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background: #fff;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo .search__btn-input-promo::-moz-placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__input-ff::-moz-placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__input-ff::-moz-placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__input-ff::-moz-placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__input-ff::-moz-placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo .search__btn-input-promo::placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__input-ff::placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__input-ff::placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__input-ff::placeholder, .hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__input-ff::placeholder {
  color: rgb(121, 116, 126);
  font-size: 18px;
}

.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-label-modal-promo, .hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__label-forms {
  display: inline-block;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(17, 34, 17);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 10px !important;
}

.hotel__block {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.hotel__block .hotel__image-font {
  width: 600px;
  width: 100%;
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
}

.hotel__main-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.hotel__main-block .hotel__headers-name {
  margin-bottom: 190px;
}
.hotel__main-block .hotel__headers-name .hotel__header {
  color: #fff;
  font-family: "Trade Gothic LT Std", sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0%;
  text-align: left;
  width: 30%;
  margin-bottom: 10px;
}
.hotel__main-block .hotel__headers-name .hotel__description {
  /* Montserrat/Medium/20px */
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.hotel__main-block .hotel__block-forms {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
  background: #fff;
  padding: 32px 60px 48px 60px;
}
.hotel__main-block .hotel__block-forms .hotel__header-form {
  color: rgb(17, 34, 17);
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
  font-family: "Montserrat", sans-serif;
}
.hotel__main-block .form_hotel .search__block-form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f {
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(228, 228, 228);
  padding-right: 35px;
  margin-right: 35px;
  width: 27%;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__input-ff:focus + .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__input-ff:valid + .search__label-forms {
  top: -15px;
  background-color: #fff;
  padding: 5px 8px;
  font-size: 16px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__input-ff:valid + .search__label-forms {
  color: orange;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f .check__form-danger {
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f .check__form-danger .check__form-image {
  margin-right: 10px;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f .check__form-danger p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(255, 134, 130);
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 2%;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-f .search__image-swap {
  right: 12%;
  position: absolute;
  top: 48%;
  width: 28px;
  height: 28px;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-s {
  display: flex;
  width: 11%;
  flex-direction: column;
  position: relative;
  width: 22%;
  margin-right: 15px;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__input-ff:focus + .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__input-ff:valid + .search__label-forms {
  top: -15px;
  background-color: #fff;
  padding: 5px 8px;
  font-size: 16px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__input-ff:valid + .search__label-forms {
  color: orange;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-s .search__image-dates {
  position: absolute;
  top: 48%;
  width: 28px;
  height: 28px;
  right: 31px;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-s .date__select {
  width: 95%;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-t {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22%;
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid rgb(228, 228, 228);
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__input-ff:focus + .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__input-ff:valid + .search__label-forms {
  top: -15px;
  background-color: #fff;
  padding: 5px 8px;
  font-size: 16px;
  opacity: 1;
  color: rgb(17, 34, 17);
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__input-ff:valid + .search__label-forms {
  color: orange;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-t .search__image-dates {
  position: absolute;
  top: 48%;
  width: 28px;
  height: 28px;
  right: 33px;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-t .date__select {
  width: 107%;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-fo {
  display: flex;
  width: 27%;
  position: relative;
  flex-direction: column;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__input-ff:focus + .search__label-forms, .hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__input-ff:valid + .search__label-forms {
  top: -10px;
  background-color: #fff;
  font-size: 16px;
  color: rgb(17, 34, 17);
  opacity: 1;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__input-ff:valid + .search__label-forms {
  color: orange;
}
.hotel__main-block .form_hotel .search__block-form-field .search__label-fo .search__image-ticket {
  right: 3%;
  position: absolute;
  top: 20%;
  width: 28px;
  height: 28px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__add-promo {
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: center;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__add-promo .search__image-adds {
  margin-right: 5px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__add-promo .search__description-adds {
  color: rgb(17, 34, 17);
  font-size: 16px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo {
  border-radius: 16px;
  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
  background: #fff;
  padding: 32px 30px 32px 30px;
  position: absolute;
  top: 119%;
  width: 420px;
  right: 8%;
  border: 1px solid #c7c7c7;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .lucide-x {
  position: absolute;
  right: 9px;
  top: 9px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo .search__btn-input-promo {
  margin-right: 20px;
  height: 50px !important;
  border-color: hsl(0, 0%, 80%);
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search-xx .search__btn-block-modal-add-promo .search__btn-block-input-promo .search__btn-add-promo-code {
  padding: 15px 16px;
  border-radius: 4px;
  background: rgb(141, 211, 187);
  height: 50px;
  font-size: 16px;
  width: 80px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search__add-promo {
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: center;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search__add-promo .search__image-adds {
  margin-right: 5px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search__add-promo .search__description-adds {
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search__btn-show-variants {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 16px;
  /* border: 1px solid #000; */
  border-radius: 4px;
  background: rgb(141, 211, 187);
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search__btn-show-variants .search__image-variants {
  margin-right: 5px;
}
.hotel__main-block .form_hotel .seacrh__block-options-users .search__btn-show-variants .search__description-variants {
  color: rgb(17, 34, 17);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 1.3rem;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__navigation--next span::before {
  border-color: #0073ff;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__month-container {
  padding: 15px;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__header {
  background-color: #fff;
}

.react-datepicker__day--keyboard-selected {
  background-color: #0073ff;
  color: #fff;
}/*# sourceMappingURL=hoteMainPage.css.map */