@charset "UTF-8";
.recent__block-placeses .recent__block-places-list-box .recent__block-description-place .recent__description-places, .recent__block-placeses .recent__block-places-list-box .recent__block-description-place .recent__header-places-block, .recent__block-main .recent__btn-more-placeses, .recent__block-main .recent__block-headers .recent__description-block, .recent__block-main .recent__block-headers .recent__header-block {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0%;
  color: rgb(17, 34, 17);
}

.recent__block-main {
  margin-bottom: 80px;
}
.recent__block-main .recent__block-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.recent__block-main .recent__block-headers .recent__header-block {
  font-size: 35px;
  font-weight: 600;
  line-height: 39px;
}
.recent__block-main .recent__block-headers .recent__description-block {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.recent__block-main .recent__btn-more-placeses {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  padding: 12px 18px;
  box-sizing: border-box;
  border: 1px solid rgb(141, 211, 187);
  border-radius: 4px;
}

.recent__block-placeses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.recent__block-placeses .recent__block-places-list-box {
  width: 24.33%;
  padding: 16px;
  border-radius: 16px;
  /* Cards Shadow */
  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
  /* Neutrals */
  background: rgb(255, 255, 255);
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recent__block-placeses .recent__block-places-list-box .recent__block-places-image {
  margin-right: 20px;
}
.recent__block-placeses .recent__block-places-list-box .recent__block-description-place {
  display: flex;
  flex-direction: column;
}
.recent__block-placeses .recent__block-places-list-box .recent__block-description-place .recent__header-places-block {
  /* Montserrat/Semibold/16px */
  color: rgb(17, 34, 17);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  /* Montserrat/Semibold/16px */
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.recent__block-placeses .recent__block-places-list-box .recent__block-description-place .recent__description-places {
  /* Montserrat/Medium/14px */
  /* Montserrat/Regular/12px */
  color: rgb(17, 34, 17);
  opacity: 0.6;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}
.recent__block-placeses .recent__block-places-list-box .recent__block-description-place .recent__description-places:not(:last-child) {
  margin-right: 20px;
}
.recent__block-placeses .recent__block-places-list-box .recent__block-description-place .recent__description-places ::before {
  content: "•";
}/*# sourceMappingURL=recent.css.map */