@import './../../vars/mixins';
@import './../../vars/colors';


.book-hotel {
    margin: 80px 0px 300px 0px;
    .book-hotel__main-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .book-hotel__block-interactive {
            width: 62%;
            .book-hotel__block-room-ticket {
                padding: 40px 30px;
                border-radius: 12px;
                box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.25);
                background: #fff;
                margin-bottom: 50px;
                .book-hotel__block-type-room {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    flex-direction: row;
                    margin-bottom: 30px;
                    .book-hotel__description-type {
                        /* TradeGothic/Bold/24px */
                        color: $primary_black;
                        @extend %l_700;
                        font-size: 26px;
                        line-height: 30px;
                    }
                    .book-hotel__description-price {
                        /* [object Object] */
                        color: $color2;
                        @extend %m_500;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 0px;
                        letter-spacing: 0%;
                        text-align: right;
                        span {
                            /* [object Object] */
                            color: $color2;
                            @extend %m_600;
                            font-size: 26px;
                            line-height: 30px;
                        }
                    }
                }
                .book-hotel__block-info-hotel {
                    display: flex;
                    margin-bottom: 45px;
                    flex-direction: row;
                    align-items: center;
                    padding: 20px 32px;
                    box-sizing: border-box;
                    border: 1px solid $color_3;
                    border-radius: 8px;
                    background: $primary_fff;
                    .book-hotel__image-logo {
                        margin-right: 30px;
                        border: 1px dotted $color_3;
                        border-radius: 12px;
                    }
                    .book-hotel__block-name-location {
                        .book-hotel__name-hotel {
                            /* Montserrat/Semibold/24px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 24px;
                            line-height: 29px;
                            text-align: left;
                            margin-bottom: 10px;
                        }
                        .book-hotel__block-location-hotel {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .book-hotel__icon-location {
                                margin-right: 15px;
                            }
                            .book-hotel__location-name {
                                /* Montserrat/Medium/14px */
                                color: $primary_black;
                                @extend %m_500;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                            }
                        }
                    }
                }
                .book-hotel__block-date-checking {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .book-hotel__block-check-in {
                        .book-hotel__date-check-in {
                            /* Montserrat/Semibold/20px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 22px;
                            line-height: 24px;
                            text-align: left;
                            margin-bottom: 10px;
                        }
                        .book-hotel__description-check {
                            /* Montserrat/Medium/14px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            text-align: left;
                            opacity: 0.5;
                        }
                    }
                    .book-hotel__block-image {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .book-hotel__hr-first {
                            border-top: 1px solid $primary_black;
                            width: 40px;
                        }
                        .book-hotel__icon-hotel {
                            margin: 0px 15px;
                        }
                        .book-hotel__hr-second {
                            border-top: 1px solid $primary_black;
                            width: 40px;
                        }
                    }
                    .book-hotel__block-check-out {
                        .book-hotel__description-date-check-out {
                            /* Montserrat/Semibold/20px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 22px;
                            line-height: 24px;
                            margin-bottom: 10px;
                            text-align: left;
                        }
                        .book-hotel__description-check-out {
                            /* Montserrat/Medium/14px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            opacity: 0.5;
                            text-align: left;
                        }
                    }
                }
            }
            .book__block-pay-options {
                .book__block-uu {
                    margin-bottom: 50px;
                    height: 320px;
                    @extend %back_font;
                    padding: 25px;
                    .book__block-select-auto-active {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 12px;
                        background: $color_3;
                        padding: 25px;
                        height: 95px;
                        margin-bottom: 25px;
                        .book__block-seelct-inside {
                            .book__header-option {
                                /* TradeGothic/Bold/16px */
                                color: $primary_black;
                                @extend %l_700;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                margin-bottom: 10px;
                            }
                            .book__description-option {
                                /* Montserrat/Regular/14px */
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                            }
                        }
                        .book__select-option-type {
                            
                        }
                    }
                    .book__block-select-auto {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 12px;
                        background: #fff;
                        padding: 25px;
                        height: 95px;
                        margin-bottom: 25px;
                        .book__block-seelct-inside {
                            .book__header-option {
                                /* TradeGothic/Bold/16px */
                                color: $primary_black;
                                @extend %l_700;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                margin-bottom: 10px;
                            }
                            .book__description-option {
                                /* Montserrat/Regular/14px */
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                            }
                        }
                        .book__select-option-type {

                        }
                    }
                    .book__block-unselect-auto {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        /* border-radius: 12px; */
                        /* background: rgb(141, 211, 187); */
                        height: 110px;
                        .book__block-unselect-inside {
                            .book__block-uu-inp {
                                display: flex;
                                flex-direction: row;
                                margin-bottom: 30px;
                                padding: 25px;
                                .book__block-description-var-second {
                                    .book__header-option-unselect {
                                        /* TradeGothic/Bold/16px */
                                        color: $primary_black;                
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 18px;
                                        font-weight: 700;
                                        line-height: 20px;
                                        letter-spacing: 0%;
                                        text-align: left;
                                        margin-bottom: 15px;
                                    }
                                    .book__description-option-unselect {
                                        /* Montserrat/Regular/14px */
                                        color: $primary_black;
                                        @extend %m_400;
                                        font-size: 16px;
                                        line-height: 21px;
                                        text-align: left;
                                        width: 65%;
                                    
                                    }
                                }
                            }
                            .book__block-uu-inp-active {
                                display: flex;
                                border-radius: 12px;
                                flex-direction: row;
                                padding: 25px;
                                margin-bottom: 30px;
                                background-color: $color_3;
                                .book__block-description-var-second {
                                    .book__header-option-unselect {
                                        /* TradeGothic/Bold/16px */
                                        color: $primary_black;                
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 18px;
                                        font-weight: 700;
                                        line-height: 20px;
                                        letter-spacing: 0%;
                                        text-align: left;
                                        margin-bottom: 15px;
                                    }
                                    .book__description-option-unselect {
                                        /* Montserrat/Regular/14px */
                                        color: $primary_black;
                                        @extend %m_400;
                                        font-size: 16px;
                                        line-height: 21px;
                                        text-align: left;
                                        width: 65%;
                                    
                                    }
                                }
                            }
                            .book__block-modal-uu {
                                width: 120px;
                                .book__more-info {
                                    color: $primary_black;
                                    @extend %m_500;
                                    font-size: 16px;
                                    line-height: 15px;
                                    padding-left: 25px;
                                    text-align: left;
                                    text-decoration-line: underline;
                                }
                                .book__modal-more-info {
                                    border-radius: 12px;
                                    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.25);
                                    background: #fff;
                                    display: flex;
                                    flex-direction: row;
                                    padding: 32px;
                                    width: 350px;
                                    position: absolute;
                                    z-index: 100;
                                    .book__block-icon-modal {
                                        margin-right: 30px;
                                        .book__icon-focus {

                                        }
                                    }
                                    .book__block-description-modal {
                                        .book__modal-header-more-info {
                                            margin-bottom: 15px;
                                            color: $primary_black;
                                            @extend %m_600;
                                            font-size: 16px;
                                            line-height: 15px;
                                        }
                                        .book__modal-description-more-info {
                                            color: $primary_black;
                                            @extend %m_500;
                                            font-size: 16px;
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .book__select-option-type-unselect {

                        }
                    }
                }
            }
            .book__block-log-to-booking {
                @extend %back_font;
                padding: 35px;
                .book__log-header {
                    /* TradeGothic/Bold/20px */
                    color: $primary_black;
                    @extend %l_700;
                    font-size: 22px;
                    line-height: 25px;
                    text-align: left;
                    margin-bottom: 20px;
                }
                    form {
                        .book__block-input {
                            position: relative;
                            margin-bottom: 20px;
                            .book__block-input-field {
                                width: 100%;
                                @extend %input_form;
                            }
                            .book__label-for-field {
                                @extend %label_form;
                            }
                            .book__block-input-field:focus + .book__label-for-field, .book__block-input-field:valid + .book__label-for-field {
                                top: -10px;
                                background-color: $primary_fff;
                                font-size: 18px;
                                color: $primary_black;
                                opacity: 1;
                            }
                            .book__block-input-field:valid + .book__label-for-field {
                                color: orange;
                            }
                        }
                        .book__description-field {
                            /* [object Object] */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        .login__btn-submit {
                            height: 56px;
                            margin-bottom: 20px;
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 18px;
                            line-height: 17px;
                            text-align: left;
                            padding: 15px 15px;
                            width: 100%;
                            text-align: center;
                            border-radius: 4px;
                            background: $color_3;
                            margin-bottom: 35px;
                        }
                        .login__instructions-create-account {
                            /* [object Object] */
                            font-family: "Montserrat", sans-serif;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 17px;
                            letter-spacing: 0%;
                            text-align: center;
                            margin-bottom: 45px;
                            .login__btn-sign {
                                color: rgb(255, 134, 130);
                                font-family: "Montserrat", sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 17px;
                                letter-spacing: 0%;
                                text-align: right;
                                margin-left: 10px;
                            }
                        }
                        .login__block-options-login-with {
                            margin-bottom: 45px;
                            margin-bottom: 35px;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            hr {
                                height: 2px;
                                position: absolute;
                                top: 8px;
                                /* background: red; */
                                width: 100%;
                                background-color: $color_1;
                                opacity: 0.25;
                            }
                            .login__login-with {
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                                z-index: 200;
                                /* display: flex; */
                                position: relative;
                                text-align: center;
                                /* width: 70%; */
                                padding: 0px 10px;
                                background: #fff;
                            }
                        }
                        .login__block-options-log {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 35px;
                            .login__block-facebook {
                                align-items: center;
                                width: 31.33%;
                                display: flex;
                                justify-content: center;
                                padding: 15px 25px;
                                height: 60px;
                                box-sizing: border-box;
                                border: 1px solid $color_3;
                                border-radius: 4px;
                        
                            }
                            .login__block-google {
                                width: 31.33%;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                padding: 15px 25px;
                                height: 60px;
                                box-sizing: border-box;
                                border: 1px solid $color_3;
                                border-radius: 4px;
                            }
                            .login__block-apple {
                                width: 31.33%;
                                display: flex;
                                justify-content: center;
                                padding: 15px 25px;
                                align-items: center;
                                height: 60px;
                                box-sizing: border-box;
                                border: 1px solid $color_3;
                                border-radius: 4px;
                            }
                        }
                        .book__btn-log-email {
                            border: 1px solid $color_3;
                            border-radius: 4px;
                            width: 100%;
                            height: 56px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            padding: 15px 25px;
                            height: 60px;
                            .book__icon-email {

                            }
                            .book__description-email-log {
                                /* Montserrat/Medium/16px */
                                color: $primary_black;
                                @extend %m_500;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                margin-left: 25px;
                            }
                        }
                    }
            }
        }
        .book-hotel__block-final-information {
            width: 30%;
            @extend %back_font;
            /* Neutrals */
            width: 34%;
            height: max-content;
            padding: 40px;
            .book-hotel__blockinfo-plane {
                width: 150px;
                /* border-radius: 15px; */
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                /* padding-bottom: 0px; */
                padding-bottom: 20px;
                border-bottom: 1px solid $border_color;
                margin-bottom: 20px;
                .book-hotel__image-mini-logo {
                    height: 100%;
                    background-size: cover;
                    border-radius: 15px;
                    width: 150px;
                    margin-right: 30px;
                }
                .book-hotel__block-uus {
                    display: flex;
                    flex-direction: column;
                    border-block-end-width: 100%;
                    align-items: start;
                    width: 100%;
                    .book-hotel__inf-plane {
                        width: 100%;
                        margin-bottom: 25px;
                        .book-hotel__description-name-company-plane {
                            /* Montserrat/Medium/16px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                            opacity: 0.6;
                            margin-bottom: 10px;
                        }
                        .book-hotel__description-name-plane {
                            /* Montserrat/Semibold/20px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 22px;
                            line-height: 24px;
                            text-align: left;
                        }
                    }
                    .book-hotel__block-review-description {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .book-hotel__review-avarge {
                            /* Montserrat/Medium/12px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 15px;
                            text-align: left;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                            border: 1px solid $color_3;
                            border-radius: 4px;
                            padding: 15px 20px;
                            margin-right: 15px;
                        }
                        .book-hotel__description-avarge {
                            /* [object Object] */
                            color: $primary_black;
                            @extend %m_400;
                            font-size: 16px;
                            line-height: 15px;
                            text-align: left;
                            span {
                                /* [object Object] */
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 16px;
                                line-height: 15px;
                                text-align: left;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .book-hotel__protected-description {
                /* [object Object] */
                color: $primary_black;
                @extend %m_400;
                font-size: 18px;
                line-height: 20px;
                text-align: left;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $border_color;
                span {
                    /* [object Object] */
                    color: $primary_black;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            .book-hotel__block-jkj {
                .book-hotel__block-price-list {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $border_color;
                    margin-bottom: 20px;
                    .book-hotel__header-price {
                        /* TradeGothic/Bold/16px */
                        color: $primary_black;
                        @extend %l_700;                     
                        font-size: 18px;
                        line-height: 20px;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    .book-hotel__block-list-item-prices {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .book-hotel__name-prices {
                            /* Montserrat/Medium/16px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                        }
                        .book-hotel__description-count-price {
                            /* Montserrat/Semibold/16px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                        }
                    }
                }
                .book-hotel__total-count-price {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .book-hotel__name-total-price {
                        color: $primary_black;
                        @extend %m_500;
                        font-size: 18px;
                        line-height: 20px;
                        text-align: left;
                    }
                    .book-hotel__total-price {
                        color: $primary_black;
                        @extend %m_600;
                        font-size: 18px;
                        line-height: 20px;
                        text-align: left;
                    }
                }
            }
        }
    }
}