@import './../vars/mixins';
@import './../vars/colors';


.book {
    margin: 80px 0px 300px 0px;
    .book__main-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .book__block-interactive {
            width: 62%;
            .vars__block-uu {
                margin-bottom: 50px;
                @extend %back_font;
                padding: 40px 30px;
            .vars__block-uu-date {
                margin-bottom: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .vars__description-info-date-num {
                    /* TradeGothic/Bold/20px */
                    color: $primary_black;
                    @extend %l_700;
                    font-size: 22px;
                    line-height: 25px;
                    text-align: left;
                }
                .vars__description-info-flyght-time {
                    color: rgb(255, 134, 130);
                    font-family: "Montserrat", sans-serif;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 39px;
                    letter-spacing: 0%;
                    text-align: right;
                }
            }
            .vars__block-plane-comfortable {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 50px;
                .vars__block-plane-list-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: 0.5px solid $color_3;
                    border-radius: 8px;
                    background: $primary_fff;
                    padding: 20px 35px;
                    .vars__image-ticket {
                        width: 80px;
                        height: 55px;
                        margin-right: 30px;
                    }
                    .vars__block-info-company-plane {
                        .vars__nmae-company-fly {
                            margin-bottom: 10px;
                            /* Montserrat/Semibold/24px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 26px;
                            line-height: 29px;
                            text-align: left;
                        }
                        .vars__name-plane-fly {
                            /* Montserrat/Medium/14px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            text-align: left;
                            opacity: 0.6;
                        }
                    }
                }
                .vars__block-comfortble-option {
                    width: 400px;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: row;
                    padding: 16px 24px;
                    align-items: center;
                    .vars__block-inside-uu {
                        width: 19%;
                        border-right: 2px solid $border_color;
                        display: flex;
                        justify-content: center;
                        .vars__icon_option_comfortable {
    
                        }
                    }
                }
            }
            .vars__main-block-info-ticket {
                display: flex;
                flex-direction: row;
                align-items: end;
                justify-content: space-between;
                .vars__time-from-to {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .vars__block-info-time-inside {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-right: 50px;
                        .vars__time-from {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 20px;
                            .vars__time-from-description {
                                margin-right: 15px;
                                /* Montserrat/Semibold/24px */
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 26px;
                                line-height: 29px;
                                text-align: left;
                            }
                            .vars__description-name {
                                /* Montserrat/Medium/16px */
                                color: $primary_black;
                                @extend %m_500;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                opacity: 0.6;
                            }
                        }
                        .vars__block-image-plane {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 20px;
                            .vars__border {
                                border-bottom: 1px solid $color_1;
                                height: 1px;
                                margin-right: 25px;
                                width: 40px;
                            }
                            .vars__border-second {
                                border-bottom: 1px solid $color_1;
                                height: 1px;
                                width: 40px;
                                margin-left: 25px;
                            }
                        }
                        .vars__block-time-to {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .vars__time-to-description {
                                margin-right: 15px;
                                /* Montserrat/Semibold/24px */
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 26px;
                                line-height: 29px;
                                text-align: left;
                            }
                            .vars__description-name-to {
                                color: $primary_black;
                                @extend %m_500;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                opacity: 0.6;
                            }
                        }
                    }
                    .vars__block-info-time-fly {
                        .vars__description-time-fly-value {
                            font-family: "Trade Gothic LT Std", sans-serif;
                            font-weight: 700;
                            color: rgb(17, 34, 17);
                            font-size: 26px;
                            line-height: 25px;
                            text-align: left;
                        }
                    }
                }
                .vars__block-actual-ticket {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .vars__block-seat-type {
                        margin-right: 25px;
                        padding-right: 25px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-right: 2px solid rgb(228, 228, 228);
                        .vars__description-seat-num {
                            font-family: "Trade Gothic LT Std", sans-serif;
                            font-weight: 700;
                            color: rgb(17, 34, 17);
                            font-size: 16px;
                            line-height: 25px;
                            text-align: left;
                        }   
                        .vars__block-inside-seat-value-ticket {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .vars__image-sit {
                                margin-right: 15px;
                            }
                            .vars__description-seat {
                                color: rgb(17, 34, 17);
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                font-family: "Montserrat", sans-serif;
                                font-weight: 500;
                            }
                        }
                    }
                    .vars__block-row-ticket {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .vars__description-row-num {
                            font-family: "Trade Gothic LT Std", sans-serif;
                            font-weight: 700;
                            color: rgb(17, 34, 17);
                            font-size: 16px;
                            line-height: 25px;
                            text-align: left;
                        }
                        .vars__block-inside-value-row {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .vars__image-row {
                                margin-right: 15px;
                            }
                            .vars__row-value {
                                color: rgb(17, 34, 17);
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                font-family: "Montserrat", sans-serif;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            }
            .book__block-pay-options {
                .book__block-uu {
                    margin-bottom: 50px;
                    height: 320px;
                    @extend %back_font;
                    padding: 25px;
                    .book__block-select-auto-active {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 12px;
                        background: $color_3;
                        padding: 25px;
                        height: 95px;
                        margin-bottom: 25px;
                        .book__block-seelct-inside {
                            .book__header-option {
                                /* TradeGothic/Bold/16px */
                                color: $primary_black;
                                @extend %l_700;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                margin-bottom: 10px;
                            }
                            .book__description-option {
                                /* Montserrat/Regular/14px */
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                            }
                        }
                        .book__select-option-type {

                        }
                    }
                    .book__block-select-auto {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 12px;
                        background: #fff;
                        padding: 25px;
                        height: 95px;
                        margin-bottom: 25px;
                        .book__block-seelct-inside {
                            .book__header-option {
                                /* TradeGothic/Bold/16px */
                                color: $primary_black;
                                @extend %l_700;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                margin-bottom: 10px;
                            }
                            .book__description-option {
                                /* Montserrat/Regular/14px */
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                            }
                        }
                        .book__select-option-type {

                        }
                    }
                    .book__block-unselect-auto {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        /* border-radius: 12px; */
                        /* background: rgb(141, 211, 187); */
                        height: 110px;
                        .book__block-unselect-inside {
                            .book__block-uu-inp {
                                display: flex;
                                flex-direction: row;
                                margin-bottom: 30px;
                                padding: 25px;
                                .book__block-description-var-second {
                                    .book__header-option-unselect {
                                        /* TradeGothic/Bold/16px */
                                        color: $primary_black;                
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 18px;
                                        font-weight: 700;
                                        line-height: 20px;
                                        letter-spacing: 0%;
                                        text-align: left;
                                        margin-bottom: 15px;
                                    }
                                    .book__description-option-unselect {
                                        /* Montserrat/Regular/14px */
                                        color: $primary_black;
                                        @extend %m_400;
                                        font-size: 16px;
                                        line-height: 21px;
                                        text-align: left;
                                        width: 65%;
                                    
                                    }
                                }
                            }
                            .book__block-uu-inp-active {
                                display: flex;
                                border-radius: 12px;
                                flex-direction: row;
                                padding: 25px;
                                margin-bottom: 30px;
                                background-color: $color_3;
                                .book__block-description-var-second {
                                    .book__header-option-unselect {
                                        /* TradeGothic/Bold/16px */
                                        color: $primary_black;                
                                        font-family: "Montserrat", sans-serif;
                                        font-size: 18px;
                                        font-weight: 700;
                                        line-height: 20px;
                                        letter-spacing: 0%;
                                        text-align: left;
                                        margin-bottom: 15px;
                                    }
                                    .book__description-option-unselect {
                                        /* Montserrat/Regular/14px */
                                        color: $primary_black;
                                        @extend %m_400;
                                        font-size: 16px;
                                        line-height: 21px;
                                        text-align: left;
                                        width: 65%;
                                    
                                    }
                                }
                            }
                            .book__block-modal-uu {
                                width: 120px;
                                .book__more-info {
                                    color: $primary_black;
                                    @extend %m_500;
                                    font-size: 16px;
                                    line-height: 15px;
                                    padding-left: 25px;
                                    text-align: left;
                                    text-decoration-line: underline;
                                }
                                .book__modal-more-info {
                                    border-radius: 12px;
                                    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.25);
                                    background: #fff;
                                    display: flex;
                                    flex-direction: row;
                                    padding: 32px;
                                    width: 350px;
                                    position: absolute;
                                    z-index: 100;
                                    .book__block-icon-modal {
                                        margin-right: 30px;
                                        .book__icon-focus {

                                        }
                                    }
                                    .book__block-description-modal {
                                        .book__modal-header-more-info {
                                            margin-bottom: 15px;
                                            color: $primary_black;
                                            @extend %m_600;
                                            font-size: 16px;
                                            line-height: 15px;
                                        }
                                        .book__modal-description-more-info {
                                            color: $primary_black;
                                            @extend %m_500;
                                            font-size: 16px;
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .book__select-option-type-unselect {

                        }
                    }
                }
            }
            .book__block-log-to-booking {
                @extend %back_font;
                padding: 35px;
                .book__log-header {
                    /* TradeGothic/Bold/20px */
                    color: $primary_black;
                    @extend %l_700;
                    font-size: 22px;
                    line-height: 25px;
                    text-align: left;
                    margin-bottom: 20px;
                }
                    form {
                        .book__block-input {
                            position: relative;
                            margin-bottom: 20px;
                            .book__block-input-field {
                                width: 100%;
                                @extend %input_form;
                            }
                            .book__label-for-field {
                                @extend %label_form;
                            }
                            .book__block-input-field:focus + .book__label-for-field, .book__block-input-field:valid + .book__label-for-field {
                                top: -10px;
                                background-color: $primary_fff;
                                font-size: 18px;
                                color: $primary_black;
                                opacity: 1;
                            }
                            .book__block-input-field:valid + .book__label-for-field {
                                color: orange;
                            }
                        }
                        .book__description-field {
                            /* [object Object] */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 17px;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        .login__btn-submit {
                            height: 56px;
                            margin-bottom: 20px;
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 18px;
                            line-height: 17px;
                            text-align: left;
                            padding: 15px 15px;
                            width: 100%;
                            text-align: center;
                            border-radius: 4px;
                            background: $color_3;
                            margin-bottom: 35px;
                        }
                        .login__instructions-create-account {
                            /* [object Object] */
                            font-family: "Montserrat", sans-serif;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 17px;
                            letter-spacing: 0%;
                            text-align: center;
                            margin-bottom: 45px;
                            .login__btn-sign {
                                color: rgb(255, 134, 130);
                                font-family: "Montserrat", sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 17px;
                                letter-spacing: 0%;
                                text-align: right;
                                margin-left: 10px;
                            }
                        }
                        .login__block-options-login-with {
                            margin-bottom: 45px;
                            margin-bottom: 35px;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            hr {
                                height: 2px;
                                position: absolute;
                                top: 8px;
                                /* background: red; */
                                width: 100%;
                                background-color: $color_1;
                                opacity: 0.25;
                            }
                            .login__login-with {
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                                z-index: 200;
                                /* display: flex; */
                                position: relative;
                                text-align: center;
                                /* width: 70%; */
                                padding: 0px 10px;
                                background: #fff;
                            }
                        }
                        .login__block-options-log {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 35px;
                            .login__block-facebook {
                                align-items: center;
                                width: 31.33%;
                                display: flex;
                                justify-content: center;
                                padding: 15px 25px;
                                height: 60px;
                                box-sizing: border-box;
                                border: 1px solid $color_3;
                                border-radius: 4px;
                        
                            }
                            .login__block-google {
                                width: 31.33%;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                padding: 15px 25px;
                                height: 60px;
                                box-sizing: border-box;
                                border: 1px solid $color_3;
                                border-radius: 4px;
                            }
                            .login__block-apple {
                                width: 31.33%;
                                display: flex;
                                justify-content: center;
                                padding: 15px 25px;
                                align-items: center;
                                height: 60px;
                                box-sizing: border-box;
                                border: 1px solid $color_3;
                                border-radius: 4px;
                            }
                        }
                        .book__btn-log-email {
                            border: 1px solid $color_3;
                            border-radius: 4px;
                            width: 100%;
                            height: 56px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            padding: 15px 25px;
                            height: 60px;
                            .book__icon-email {

                            }
                            .book__description-email-log {
                                /* Montserrat/Medium/16px */
                                color: $primary_black;
                                @extend %m_500;
                                font-size: 18px;
                                line-height: 20px;
                                text-align: left;
                                margin-left: 25px;
                            }
                        }
                    }
            }
        }
        .book__block-final-information {
            width: 30%;
            @extend %back_font;
            /* Neutrals */
            width: 34%;
            height: max-content;
            padding: 40px;
            .book__blockinfo-plane {
                height: 150px;
                width: 150px;
                /* border-radius: 15px; */
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                /* padding-bottom: 0px; */
                padding-bottom: 20px;
                border-bottom: 1px solid $border_color;
                margin-bottom: 20px;
                .book__image-mini-logo {
                    height: 100%;
                    background-size: cover;
                    border-radius: 15px;
                    width: 150px;
                    margin-right: 30px;
                }
                .book__block-uus {
                    display: flex;
                    flex-direction: column;
                    border-block-end-width: 100%;
                    align-items: start;
                    width: 100%;
                    .book__inf-plane {
                        width: 100%;
                        margin-bottom: 25px;
                        .book__description-name-company-plane {
                            /* Montserrat/Medium/16px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                            opacity: 0.6;
                            margin-bottom: 10px;
                        }
                        .book__description-name-plane {
                            /* Montserrat/Semibold/20px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 22px;
                            line-height: 24px;
                            text-align: left;
                        }
                    }
                    .book__block-review-description {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .book__review-avarge {
                            /* Montserrat/Medium/12px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 16px;
                            line-height: 15px;
                            text-align: left;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                            border: 1px solid $color_3;
                            border-radius: 4px;
                            padding: 15px 20px;
                            margin-right: 15px;
                        }
                        .book__description-avarge {
                            /* [object Object] */
                            color: $primary_black;
                            @extend %m_400;
                            font-size: 16px;
                            line-height: 15px;
                            text-align: left;
                            span {
                                /* [object Object] */
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 16px;
                                line-height: 15px;
                                text-align: left;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .book__protected-description {
                /* [object Object] */
                color: $primary_black;
                @extend %m_400;
                font-size: 18px;
                line-height: 20px;
                text-align: left;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $border_color;
                span {
                    /* [object Object] */
                    color: $primary_black;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            .book__block-jkj {
                .book__block-price-list {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $border_color;
                    margin-bottom: 20px;
                    .book__header-price {
                        /* TradeGothic/Bold/16px */
                        color: $primary_black;
                        @extend %l_700;                     
                        font-size: 18px;
                        line-height: 20px;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    .book__block-list-item-prices {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .book__name-prices {
                            /* Montserrat/Medium/16px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                        }
                        .book__description-count-price {
                            /* Montserrat/Semibold/16px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: left;
                        }
                    }
                }
                .book__total-count-price {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .book__name-total-price {
                        color: $primary_black;
                        @extend %m_500;
                        font-size: 18px;
                        line-height: 20px;
                        text-align: left;
                    }
                    .book__total-price {
                        color: $primary_black;
                        @extend %m_600;
                        font-size: 18px;
                        line-height: 20px;
                        text-align: left;
                    }
                }
            }
        }
    }
}
