@import './../vars/colors';
@import './../vars/mixins';


.booking {
    margin-top: 60px;
    margin-bottom: 300px;
    .booking__main-block {
        .booking_info-block {
            margin-bottom: 35px;
            .bookign__block-info-plane {  
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
                .booking__header-name-plane {
                    /* TradeGothic/Bold/24px */
                    color: $primary_black;
                    @extend %l_700;
                    font-size: 26px;
                    line-height: 30px;
                    text-align: left;
                }
                .booking__description-price-ticket {
                    /* Montserrat/Bold/32px */
                    color: $primary_black;
                    font-family: "Montserrat", sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 39px;
                    letter-spacing: 0%;
                    text-align: right;
                }
            }
            .booking__block-uu-options {     
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .bookign__block-location {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .bookign__image-geo {
                        margin-right: 10px;
                    }
                    .bookign__description-location-geo {
                        /* Montserrat/Medium/14px */
                        color: $primary_black;
                        @extend %m_500;
                        font-size: 16px;
                        line-height: 17px;
                        text-align: left;
                        opacity: 0.6;
                    }
                }
                .bookign__block-interactive {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .booking__share-btn {
                        padding: 15px 20px;
                        height: 56px;
                        margin-right: 20px;
                        box-sizing: border-box;
                        border: 1px solid $color_3;
                        border-radius: 4px;

                        .booking__image-share {

                        }
                    }
                    .bookign__download-ticket {
                        /* Montserrat/Semibold/14px */
                        color: $primary_black;
                        @extend %m_600;
                        font-size: 18px;
                        line-height: 17px;
                        text-align: left;
                        border-radius: 4px;
                        background: $color_3;
                        height: 56px;
                        padding: 15px 25px;
                        width: 165px;
                        text-align: center;
                    }
                }
            }
        }
        .bookign__main-ticket {
            display: flex;
            flex-direction: row;
            margin-bottom: 70px;
            z-index: 100;
            position: relative;
            .bookign__block-time {
                background: rgb(235, 246, 242);
                padding: 35px;
                width: 25%;
                box-sizing: border-box;
                /* border: 1px solid rgb(234, 234, 234); */
                /* border-radius: 16px; */
                /* background: rgb(255, 255, 255); */
                border-radius: 16px 0px 0px 16px;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                .bookign__block-time-inside {
                    .bookign__time-fly {
                        margin-bottom: 20px;
                        .booking__description-time {
                            /* Montserrat/Semibold/32px */
                            color: $primary_black;
                            @extend %m_600;
                            font-size: 35px;
                            line-height: 39px;
                            margin-bottom: 5px;

                        }
                        .bookign__description-name {
                            /* Montserrat/Medium/12px */
                            color: $primary_black;
                            @extend %m_500;
                            font-size: 14px;
                            line-height: 15px;
                        }
                    }
                }
                .bookign__block-image-plane {
                    .bookign__image-plane {
                    }
                }
                .bookign__time-fly {
                    margin-top: 20px;
                    .booking__description-time {
                        /* Montserrat/Semibold/32px */
                        color: $primary_black;
                        @extend %m_600;
                        font-size: 35px;
                        line-height: 39px;
                        margin-bottom: 5px;

                    }
                    .bookign__description-name {
                        /* Montserrat/Medium/12px */
                        color: $primary_black;
                        @extend %m_500;
                        font-size: 14px;
                        line-height: 15px;
                    }
                }
            }
            .bookign__blockinfo-ticket-with-user {
                width: 50%;
                .bookign__block-info-user {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    background: $color_3;
                    padding: 35px;
                    border-radius: 0px 16px 0px 0px;
                    .booking__block-user-image-name {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .booking__image-user {
                            margin-right: 20px;
                            height: 50px;
                            width: 50px;
                            /* border: 1px solid red; */
                            border-radius: 50%;
                            background: #fff;
                            box-sizing: border-box;
                            border: 1px solid rgb(255, 134, 130);
                            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);  
                        }
                        .booking__block-uu-description {
                            .booking__description-user-name {
                                /* TradeGothic/Bold/20px */
                                color: $primary_black;
                                @extend %l_700;
                                font-size: 22px;
                                line-height: 25px;
                                text-align: left;
                                margin-bottom: 5px;
                            }
                            .booking__description-user-num {
                                /* Montserrat/Regular/14px */
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 17px;
                                text-align: left;
                                                        }
                        }
                    }
                    .bookign__description-class-ticket {
                        /* TradeGothic/Bold/14px */
                        color: $primary_black;
                        @extend %l_700;
                        font-size: 16px;
                        line-height: 18px;
                        text-align: right;
                    }
                }
                .bookign__detailed-info-ticket {
                    padding: 35px;
                    box-sizing: border-box;
                    border: 1px solid rgb(234, 234, 234);
                    border-radius: 16px 0px 16px 0px;
                    background: rgb(255, 255, 255);
                    .booking__block-detailed-info-ticket-inside {
                        display: flex;
                        margin-bottom: 40px;
                        .bookign__list-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 150px;
                            .booking__image-icon {
                                margin-right: 15px;
                                width: 40px;
                                height: 40px;
                            }
                            .booking__inf-ticket-user {
                                .booking__description-name {
                                    /* Montserrat/Semibold/14px */
                                    color: $primary_black;
                                    @extend %m_600;
                                    font-size: 16px;
                                    line-height: 17px;
                                    text-align: left;
                                    opacity: 0.6;
                                    margin-bottom: 10px;
                                }
                                .booking__description-value {
                                    /* Montserrat/Medium/12px */
                                    color: $primary_black;
                                    @extend %m_500;
                                    font-size: 14px;
                                    line-height: 15px;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .bookign__block-barcode {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .booking__block-description-barcode {
                            .booking__description-name-barcode {
                                /* Montserrat/Semibold/32px */
                                color: $primary_black;
                                @extend %m_600;
                                font-size: 34px;
                                line-height: 39px;
                                text-align: left;
                            }
                            .booking__description-value-barcode {
                                /* Montserrat/Medium/12px */
                                color: $primary_black;
                                @extend %m_500;
                                font-size: 14px;
                                line-height: 15px;
                                text-align: left;
                                opacity: 0.6;
                            }
                        }
                        img {

                        }
                    }
                }
            }
            .booking__block-fly-images {
                width: 25%;
                box-sizing: border-box;
                border: 1px solid rgb(234, 234, 234);
                border-radius: 16px;
                background: $primary_fff;
                padding: 35px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .booking__block-hight {
                    position: relative;
                    display: flex;
                    width: 100px;
                    height: 100px;
                    width: 100%;
                    height: 100%;
                    justify-content: end;
                    flex-direction: row;
                    z-index: 30000;
                    .booking__block-user-uu {
                        .booking__image-travel-logo {

                        }
                        .booking__block-description-user-uu {
                            .booking__desc-user-name-uu {

                            }
                            .booking__description-user-ticket-num {

                            }
                        }
                        .booking__block-lnl {
                            position: absolute;
                            top: -83px;
                            right: -56px;
                            width: 200px;
                            height: 200px;
                            z-index: -1;
                            .booking__image-ellips {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                inset: 0px;
                                color: transparent;
                                z-index: -1;
                                width: 200px;
                            }
                            .booking__image-content {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                inset: 0px;
                                color: transparent;
                                z-index: -1;
                                width: 200px;
                            }
                        }
                    }
                }
                .booking__block-low {
                    position: relative;
                    display: flex;
                    width: 100px;
                    height: 100px;
                    width: 100%;
                    height: 100%;
                    justify-content: end;
                    flex-direction: row;
                    z-index: 30000;
                    align-items: center;
                    justify-content: flex-start;
                    .booking__block-user-uu {
                        .booking__image-travel-logo {

                        }
                        .booking__block-description-user-uu {
                            .booking__desc-user-name-uu {

                            }
                            .booking__description-user-ticket-num {

                            }
                        }
                        .booking__block-lnl {
                            position: absolute;
                            position: absolute;
                            top: -46px;
                            left: -37px;
                            width: 200px;
                            height: 200px;
                            z-index: -1;
                            .booking__image-ellips {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                inset: 0px;
                                color: transparent;
                                z-index: -1;
                                width: 200px;
                            }
                            .booking__image-content {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                inset: 0px;
                                color: transparent;
                                z-index: -1;
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
        .bookign__block-uul {
            .booking__block-terms {
                .booking__header-term {
                    margin-bottom: 40px;
                    /* Montserrat/Semibold/24px */
                    color: $primary_black;
                    @extend %m_600;
                    font-weight: 600;
                    line-height: 29px;
                    text-align: left;
                }
                .booking__block-descr {
                    margin-bottom: 40px;
                    .bookign__header-block-description {
                        margin-bottom: 20px;
                        /* Montserrat/Medium/20px */
                        color: $primary_black;
                        @extend %m_500;
                        font-size: 22px;
                        line-height: 24px;
                        text-align: left;
                    }
                    .bookign__list-box {
                        margin-bottom: 30px;
                        padding: 0px 30px;
                        .booking__list-item {
                            list-style-type: disc !important;
                            margin-bottom: 10px;
                            .booking__description-main-term {
                                width: 80%;
                                line-height: 20px;
                                color: $primary_black;
                                @extend %m_400;
                                font-size: 16px;
                                line-height: 24px;
                                text-align: left;
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
            .booking__block-contacts {
                .booking__header-block-contact {
                    margin-bottom: 20px;
                    /* Montserrat/Medium/20px */
                    color: $primary_black;
                    @extend %m_500;
                    font-size: 22px;
                    line-height: 24px;
                    text-align: left;
                }
                .booking__description-contact {
                    color: $primary_black;
                    @extend %m_400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: left;
                    opacity: 0.6;
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}